.button { 
      border: none; 
      text-decoration: none;
      box-sizing: border-box;
      background: none;
      padding: 0;
      margin: 0;
      }


.button { display: flex; align-items: center; gap: 8px; cursor: pointer; }

.button.link.small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) 0px;
  background-color: transparent;
  border-radius: var(--button-small-border-radius);
}


.button.link.small .text-value {
  color: var(--text-primary-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.link.small:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) 0px;
  background-color: transparent;
  border-radius: var(--button-small-border-radius);
}


.button.link.small:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.link.small:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) 0px;
  background-color: transparent;
  border-radius: var(--button-small-border-radius);
}


.button.link.small:hover .text-value {
  color: var(--text-primary-Low);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.tertiary.small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-neutral-xLow);
  border: 1px solid var(--fill-neutral-Low);
  border-radius: var(--button-small-border-radius);
}


.button.tertiary.small .text-value {
  color: var(--text-neutral-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.tertiary.small:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-small-border-radius);
}


.button.tertiary.small:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.tertiary.small:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-neutral-xLow);
  border: 1px solid var(--fill-neutral-Medium);
  border-radius: var(--button-small-border-radius);
}


.button.tertiary.small:hover .text-value {
  color: var(--text-neutral-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.secondary.small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-secondary-xHight);
  border-radius: var(--button-small-border-radius);
}


.button.secondary.small .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.secondary.small:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-small-border-radius);
}


.button.secondary.small:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.secondary.small:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-secondary-Hight);
  border-radius: var(--button-small-border-radius);
}


.button.secondary.small:hover .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.primary.small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-primary-xHight);
  border-radius: var(--button-small-border-radius);
}


.button.primary.small .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.primary.small:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-small-border-radius);
}


.button.primary.small:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.primary.small:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-primary-Hight);
  border-radius: var(--button-small-border-radius);
}


.button.primary.small:hover .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.error.small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-error-xHight);
  border-radius: var(--button-small-border-radius);
}


.button.error.small .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.error.small:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-small-border-radius);
}


.button.error.small:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.error.small:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
  background-color: var(--fill-error-Hight);
  border-radius: var(--button-small-border-radius);
}


.button.error.small:hover .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.primary.large {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-primary-xHight);
  border-radius: var(--button-medium-border-radius);
}


.button.primary.large .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.primary.large:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-medium-border-radius);
}


.button.primary.large:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.primary.large:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-primary-Hight);
  border-radius: var(--button-medium-border-radius);
}


.button.primary.large:hover .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.link.large {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) 0px;
  background-color: transparent;
  border-radius: var(--button-medium-border-radius);
}


.button.link.large .text-value {
  color: var(--text-primary-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.link.large:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) 0px;
  background-color: transparent;
  border-radius: var(--button-medium-border-radius);
}


.button.link.large:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.link.large:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) 0px;
  background-color: transparent;
  border-radius: var(--button-medium-border-radius);
}


.button.link.large:hover .text-value {
  color: var(--text-primary-Low);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.tertiary.large {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-neutral-xLow);
  border: 1px solid var(--fill-neutral-Low);
  border-radius: var(--button-medium-border-radius);
}


.button.tertiary.large .text-value {
  color: var(--text-neutral-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.tertiary.large:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-medium-border-radius);
}


.button.tertiary.large:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.tertiary.large:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-neutral-xLow);
  border: 1px solid var(--fill-neutral-Medium);
  border-radius: var(--button-medium-border-radius);
}


.button.tertiary.large:hover .text-value {
  color: var(--text-neutral-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.secondary.large {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-secondary-xHight);
  border-radius: var(--button-medium-border-radius);
}


.button.secondary.large .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.secondary.large:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-medium-border-radius);
}


.button.secondary.large:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.secondary.large:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-secondary-Hight);
  border-radius: var(--button-medium-border-radius);
}


.button.secondary.large:hover .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.error.large {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-error-xHight);
  border-radius: var(--button-medium-border-radius);
}


.button.error.large .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.error.large:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-medium-border-radius);
}


.button.error.large:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.error.large:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-error-Hight);
  border-radius: var(--button-medium-border-radius);
}


.button.error.large:hover .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.primary.medium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-primary-xHight);
  border-radius: var(--button-large-border-radius);
}


.button.primary.medium .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.primary.medium:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-large-border-radius);
}


.button.primary.medium:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.primary.medium:focus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-primary-xHight);
  border-radius: var(--button-large-border-radius);
}


.button.primary.medium:focus .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.primary.medium:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-primary-Hight);
  border-radius: var(--button-large-border-radius);
}


.button.primary.medium:hover .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.link.medium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) 0px;
  background-color: transparent;
  border-radius: var(--button-large-border-radius);
}


.button.link.medium .text-value {
  color: var(--text-primary-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.link.medium:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) 0px;
  background-color: #ffffff;
  border-radius: var(--button-large-border-radius);
}


.button.link.medium:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.link.medium:focus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) 0px;
  background-color: transparent;
  border-radius: var(--button-large-border-radius);
}


.button.link.medium:focus .text-value {
  color: var(--text-primary-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.link.medium:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) 0px;
  background-color: transparent;
  border-radius: var(--button-large-border-radius);
}


.button.link.medium:hover .text-value {
  color: var(--text-primary-Low);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.tertiary.medium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-neutral-xLow);
  border: 1px solid var(--fill-neutral-Low);
  border-radius: var(--button-large-border-radius);
}


.button.tertiary.medium .text-value {
  color: var(--text-neutral-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.tertiary.medium:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-large-border-radius);
}


.button.tertiary.medium:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.tertiary.medium:focus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-neutral-xLow);
  border: 1px solid var(--fill-primary-Hight);
  border-radius: var(--button-large-border-radius);
}


.button.tertiary.medium:focus .text-value {
  color: var(--text-neutral-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.tertiary.medium:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-neutral-xLow);
  border: 1px solid var(--fill-neutral-Medium);
  border-radius: var(--button-large-border-radius);
}


.button.tertiary.medium:hover .text-value {
  color: var(--text-neutral-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.secondary.medium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-secondary-xHight);
  border-radius: var(--button-large-border-radius);
}


.button.secondary.medium .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.secondary.medium:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-large-border-radius);
}


.button.secondary.medium:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.secondary.medium:focus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-secondary-xHight);
  border-radius: var(--button-large-border-radius);
}


.button.secondary.medium:focus .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.secondary.medium:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-secondary-Hight);
  border-radius: var(--button-large-border-radius);
}


.button.secondary.medium:hover .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.error.medium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-error-xHight);
  border-radius: var(--button-large-border-radius);
}


.button.error.medium .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.error.medium:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-large-border-radius);
}


.button.error.medium:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.error.medium:focus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-error-xHight);
  border-radius: var(--button-large-border-radius);
}


.button.error.medium:focus .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.button.error.medium:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-medium-padding-y) var(--button-medium-padding-x);
  background-color: var(--fill-error-Hight);
  border-radius: var(--button-large-border-radius);
}


.button.error.medium:hover .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}

