.buttontest { 
      border: none; 
      text-decoration: none;
      box-sizing: border-box;
      background: none;
      padding: 0;
      margin: 0;
      }


.buttontest { display: flex; align-items: center; gap: 8px; cursor: pointer; }

.buttontest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-primary-xHight);
  border: 1px solid var(--color-primary-900);
  border-radius: 16px;
}


.buttontest .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.buttontest .text-hi {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.buttontest:disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-neutral-Low);
  border-radius: var(--button-medium-border-radius);
}


.buttontest:disabled .text-value {
  color: var(--text-neutral-xLow);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.buttontest:disabled .text-hi {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.buttontest:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--button-large-padding-y) var(--button-large-padding-x);
  background-color: var(--fill-primary-Hight);
  border-radius: var(--button-medium-border-radius);
}


.buttontest:hover .text-value {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}


.buttontest:hover .text-hi {
  color: var(--text-inverted-High);
  font-family: var(--text-body-primary-emp-font-family);
  font-weight: var(--text-body-primary-emp-font-weight);
  font-size: var(--text-body-primary-emp-font-size);
  line-height: var(--text-body-primary-emp-line-height);
}

