:root {

  /* Color Tokens */
  --color-primary-50: #cfd6fd;
  --color-primary-100: #b0bcfb;
  --color-primary-200: #90a3fa;
  --color-primary-300: #6e8cf9;
  --color-primary-400: #4b75f8;
  --color-primary-500: #2160eb;
  --color-primary-600: #044bcc;
  --color-primary-700: #0238aa;
  --color-primary-800: #012683;
  --color-primary-900: #001657;
  --color-secondary-50: #88f0fe;
  --color-secondary-100: #5ed8fc;
  --color-secondary-200: #28c0e5;
  --color-secondary-300: #1ea8ce;
  --color-secondary-400: #1891b6;
  --color-secondary-500: #127a9e;
  --color-secondary-600: #0c6385;
  --color-secondary-700: #084d6b;
  --color-secondary-800: #043750;
  --color-secondary-900: #022233;
  --color-neutral-100: #c9c9c9;
  --color-neutral-200: #b1b1b1;
  --color-neutral-300: #999999;
  --color-neutral-400: #828282;
  --color-neutral-500: #6c6c6c;
  --color-neutral-600: #565656;
  --color-neutral-700: #424242;
  --color-neutral-800: #2e2e2e;
  --color-neutral-900: #1b1b1b;
  --color-neutral-50: #f5f5f5;
  --color-red-50: #fdaf99;
  --color-red-100: #fd907c;
  --color-red-200: #fc7161;
  --color-red-300: #fc534a;
  --color-red-400: #f73536;
  --color-red-500: #d91624;
  --color-red-600: #b81115;
  --color-red-700: #970b0a;
  --color-red-800: #720706;
  --color-red-900: #4d0302;
  --color-green-50: #97f8a0;
  --color-green-100: #74e082;
  --color-green-200: #52c867;
  --color-green-300: #2cb04e;
  --color-green-400: #1b9838;
  --color-green-500: #158025;
  --color-green-600: #0f6917;
  --color-green-700: #095110;
  --color-green-800: #053a09;
  --color-green-900: #022504;
  --fill-neutral-xLow: #f5f5f5;
  --fill-neutral-Medium: #b1b1b1;
  --fill-neutral-xHigh: #828282;
  --fill-bg-secondary: #c9c9c9;
  --border-neutral-Medium: #b1b1b1;
  --fill-neutral-Low: #c9c9c9;
  --border-neutral-High: #828282;
  --text-neutral-High: #1b1b1b;
  --fill-bg-tertiary: #b1b1b1;
  --text-neutral-Low: #6c6c6c;
  --fill-bg-primary: #f5f5f5;
  --text-neutral-Medium: #424242;
  --fill-neutral-High: #999999;
  --fill-primary-Low: #90a3fa;
  --fill-primary-Medium: #6e8cf9;
  --fill-primary-Hight: #4b75f8;
  --text-neutral-xLow: #999999;
  --border-neutral-Low: #c9c9c9;
  --fill-primary-xLow: #cfd6fd;
  --fill-primary-xHight: #044bcc;
  --fill-secondary-xHight: #0c6385;
  --fill-secondary-Hight: #1891b6;
  --fill-secondary-Medium: #1ea8ce;
  --fill-secondary-Low: #28c0e5;
  --fill-secondary-xLow: #88f0fe;
  --fill-error-xHight: #b81115;
  --fill-error-Hight: #f73536;
  --fill-error-Medium: #fc534a;
  --fill-error-Low: #fc7161;
  --fill-error-xLow: #fdaf99;
  --fill-success-xHight: #0f6917;
  --fill-success-Hight: #1b9838;
  --fill-success-Medium: #2cb04e;
  --fill-success-Low: #52c867;
  --fill-success-xLow: #97f8a0;
  --text-error: #f73536;
  --text-success: #0f6917;
  --text-primary-High: #0238aa;
  --text-primary-Low: #6e8cf9;
  --text-primary-xLow: #90a3fa;
  --text-primary-Medium: #2160eb;
  --text-secondary-High: #043750;
  --text-secondary-Medium: #0c6385;
  --text-secondary-Low: #1891b6;
  --text-secondary-xLow: #28c0e5;
  --text-inverted-High: #f5f5f5;
  --text-inverted-Medium: #b1b1b1;
  --text-inverted-Low: #828282;
  --text-inverted-xLow: #6c6c6c;
  --icon-primary-xHight: #044bcc;
  --icon-primary-Hight: #4b75f8;
  --icon-primary-Medium: #6e8cf9;
  --icon-primary-Low: #90a3fa;
  --icon-primary-xLow: #cfd6fd;
  --icon-secondary-xHight: #0c6385;
  --icon-secondary-Hight: #1891b6;
  --icon-secondary-Medium: #1ea8ce;
  --icon-secondary-Low: #28c0e5;
  --icon-secondary-xLow: #88f0fe;
  --icon-error-xHight: #b81115;
  --icon-error-Hight: #f73536;
  --icon-error-Medium: #fc534a;
  --icon-error-Low: #fc7161;
  --icon-error-xLow: #fdaf99;
  --icon-success-xHight: #0f6917;
  --icon-success-Hight: #1b9838;
  --icon-success-Medium: #2cb04e;
  --icon-success-Low: #52c867;
  --icon-success-xLow: #97f8a0;
  --icon-neutral-xHigh: #828282;
  --icon-neutral-High: #999999;
  --icon-neutral-Medium: #b1b1b1;
  --icon-neutral-Low: #c9c9c9;
  --icon-neutral-xLow: #f5f5f5;

  /* Numeric Tokens */
  --spacing-xxSmall: 0.25rem;
  --spacing-xSmall: 0.5rem;
  --spacing-Small: 1rem;
  --spacing-Large: 2rem;
  --spacing-xxxLarge: 8rem;
  --border-radius-xLarge: 2rem;
  --border-radius-Large: 1.5rem;
  --border-radius-Medium: 1rem;
  --border-radius-Small: 0.5rem;
  --border-radius-xSmall: 0.25rem;
  --spacing-Medium: 1.5rem;
  --text-subheadline-primary-rg-line-height: 1.25rem;
  --text-caption-primary-rg-line-height: 1rem;
  --text-body-primary-rg-line-height: 1.5rem;
  --text-title-secondary-S-em-line-height: 1.75rem;
  --text-title-secondary-M-em-line-height: 2rem;
  --text-title-secondary-L-em-line-height: 2.25rem;
  --text-body-primary-emp-line-height: 1.5rem;
  --text-subheadline-primary-emp-line-height: 1.25rem;
  --text-caption-primary-emp-line-height: 1rem;
  --text-caption-primary-rg-font-size: 0.75rem;
  --text-caption-primary-emp-font-size: 0.75rem;
  --text-body-primary-rg-font-size: 1rem;
  --text-body-primary-emp-font-size: 1rem;
  --text-subheadline-primary-rg-font-size: 0.875rem;
  --text-subheadline-primary-emp-font-size: 0.875rem;
  --text-title-secondary-S-em-font-size: 1.25rem;
  --text-title-secondary-M-em-font-size: 1.5rem;
  --text-title-secondary-L-em-font-size: 1.75rem;
  --text-title-secondary-XL-em-line-height: 2.25rem;
  --text-title-secondary-XL-em-font-size: 2rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --border-width-small: 0.0625rem;
  --spacing-xxLarge: 4rem;
  --spacing-xLarge: 3rem;
  --button-medium-padding-y: 0.625rem;
  --button-medium-padding-x: 1rem;
  --button-medium-border-radius: 1rem;
  --button-large-padding-y: 0.875rem;
  --button-large-padding-x: 1.25rem;
  --button-large-border-radius: 1rem;
  --button-small-padding-y: 0.375rem;
  --button-small-padding-x: 0.75rem;
  --button-small-border-radius: 1.5rem;
  --input-medium-padding-y: 0.625rem;
  --input-medium-padding-x: 0.75rem;
  --input-medium-min-height: 2.75rem;
  --number-16: 1rem;
  --number-24: 1.5rem;
  --number-4: 0.25rem;
  --number-8: 0.5rem;
  --number-12: 0.75rem;
  --number-14: 0.875rem;
  --number-20: 1.25rem;
  --number-28: 1.75rem;
  --number-32: 2rem;
  --number-36: 2.25rem;
  --number-40: 2.5rem;
  --number-48: 3rem;
  --number-56: 3.5rem;
  --number-60: 3.75rem;
  --number-72: 4.5rem;
  --number-88: 5.5rem;
  --border-width-medium: 0.125rem;
  --border-width-large: 0.25rem;

  /* String Variables */
  --font-primary: "Inter";
  --font-secondary: "Lora";

  /* Typography Styles */
  --text-title-xl-em-font-family: "Lora";
  --text-title-xl-em-font-weight: 600;
  --text-title-xl-em-font-size: 2rem;
  --text-title-xl-em-line-height: 36px;
  --text-title-l-em-font-family: "Lora";
  --text-title-l-em-font-weight: 400;
  --text-title-l-em-font-size: 1.75rem;
  --text-title-l-em-line-height: 36px;
  --text-title-m-em-font-family: "Lora";
  --text-title-m-em-font-weight: 600;
  --text-title-m-em-font-size: 1.5rem;
  --text-title-m-em-line-height: 32px;
  --text-title-s-em-font-family: "Lora";
  --text-title-s-em-font-weight: 600;
  --text-title-s-em-font-size: 1.25rem;
  --text-title-s-em-line-height: 28px;
  --text-body-primary-rg-font-family: "Inter";
  --text-body-primary-rg-font-weight: 400;
  --text-body-primary-rg-font-size: 1rem;
  --text-body-primary-rg-line-height: 24px;
  --text-body-primary-emp-font-family: "Inter";
  --text-body-primary-emp-font-weight: 500;
  --text-body-primary-emp-font-size: 1rem;
  --text-body-primary-emp-line-height: 24px;
  --text-subheadline-primary-rg-font-family: "Inter";
  --text-subheadline-primary-rg-font-weight: 400;
  --text-subheadline-primary-rg-font-size: 0.875rem;
  --text-subheadline-primary-rg-line-height: 20px;
  --text-subheadline-primary-emp-font-family: "Inter";
  --text-subheadline-primary-emp-font-weight: 600;
  --text-subheadline-primary-emp-font-size: 0.875rem;
  --text-subheadline-primary-emp-line-height: 20px;
  --text-caption-primary-rg-font-family: "Inter";
  --text-caption-primary-rg-font-weight: 600;
  --text-caption-primary-rg-font-size: 0.75rem;
  --text-caption-primary-rg-line-height: 16px;
}
